<% if current_user %>
<h3 class="pull-right">Organization: <%= @tenant.name %></h3>
<%= render 'projects/list' %>

<% else %>

<div class="center jumbotron">
  <h2>Start Planning Today</h2>
  <h2>Manage your Tasks : Easier - Effective - Efficient  </h2>
  <%= link_to "Get Started - It's Free",new_user_registration_path(plan: 'free'),class: "btn btn-primary " %>
  
</div>

<% end %>

