.navbar-default {
background-color:black;

}
.profile {
  font-weight:bold;
  color:#fff;

}
body {
  padding-top: 50px;

}
#logo {
  float:left;
  font-size:1.7em;
  color:#fff;
  text-transform:uppercase;
  letter-spacing: -1px;
  font-weight:bold;
}

#logo:hover {
  color :#fff;
  text-decoration :none;
}

.container {

padding-left:auto;
padding-right:auto;
  
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('body.jpeg');
  background-size:cover;
  height:480px;
}
.jumbotron h2 {
  color : #fff;
  text-align: center;
  margin-bottom:3  0px;
  letter-spacing:-1px;
  font-weight:bold;
}

.btn-xlarge{
  font-size:1.7em;
  background-color:black;
}

.user-name {
  a {
      color: #fff !important;
  }
  a:hover, a:focus {
    color: #000 !important;
  }
}



.navbar-fixed-top {
    position:fixed !important;
}





.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}


.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}



.plan {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin-right: 5px;
}

.price {
  font-weight: 700;
  size: 120%;
}

.sign-up {
  margin-top: 5px;
}

.extra {
  color: #5cb85c;
}


.no-side-padding{
  padding-left: 0;
  padding-right: 0;

}

.no-left-padding {
  padding-left: 0 !important;
}

no-right-padding {
  padding-right: 0 !important;
}


.table tr td {
  a.main-link {
    color:#428bca;

  }
  a.main-link:hover {
    background:none;
  }
}

.ui-datepicker { 
  margin-left: 100px;
  z-index: 1000;
}

.fa.fa-rocket {
  background: #fff;
  border: 1px solid white;
  border-radius: 20px;
  color: red;
  padding: 6px;
}

.logout {
  padding-left: 0;
}


