<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container-fluid ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
      <%= link_to "Task management",root_path,class: "navbar-brand", id: "logo"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
        
       </li>
        
       
      </ul>
      
      <ul class="nav navbar-nav navbar-right profile">
        
        <% if current_user %>
            <li>
            <%= link_to ('<i class="fa fa-user"></i>' + truncate(current_user.email, length:25)).html_safe, edit_user_registration_path, title:'Edit Profile', class: 'user-name ' %>
            </li>
            <li >&nbsp;</li>
            <li><%= link_to('Logout', destroy_user_session_path, title: 'Logout',  :method => :delete)%></li>
        <% else %>
            <li>
              <li><%= link_to "Log in", new_user_session_path %><li>
                
            </li>
        <% end %>
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

